extends layout

block content
    form(method="POST" action="/new")
        .brickbox

            div.brick.inputbrick
                label(for="textinput") Message
                textarea#textinput(name="textinput" maxlength="120" required)

                .top 
                .side

            div.brick.inputbrick
                label(for="nameinput") Name
                input#nameinput(type="text" name="nameinput" maxlength="20" required)

                .top
                .side

            button(type="submit")#submitbtn.brick.linkbrick Submit

                .top
                .side

            div.linkbrick.brick
                a(href="/") 
                div Back

                .top 
                .side

            div#newheader.brick
                h1 New Messagebrick

                .top 
                .side